#banner {
	background: #beefbe;
	padding-top: 5px;
	padding-bottom: 1px;
	border-bottom: 1px solid;
	text-align: center;
}

#side {
	float: left;
	padding-top: 0em;
	padding-right: 1em;
	padding-bottom: 1em;
	width: 8em;
}

#linkbar {
	float: right;	
}

#main {
	margin-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}

#footer {
	background: #beefbe;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid;
	text-align: center;	
}

#notice {
	color: green;
}

.odd {
	background-color: #fff;
}

.even {
	background-color: #f2fcf2;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}
